<header>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/youtubers">YouTubers</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="#">YouTuber Charts</a></li>
    </ul>
</header>
<form action="/logout" method="get">
    <button>Logout</button>
</form>