<%- include('./partials/head') %>
<body style="margin: 0 30px;">
    <div style="margin-top: 260px;">
        <h1>Welcome to YGDb: YouTube Gaming Database!</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate impedit quos aspernatur voluptatibus earum ad inventore quisquam repudiandae corrupti magnam accusamus consequuntur beatae maiores iusto hic non numquam, quo repellat laborum minima iure eaque nam dignissimos. Quod, nemo numquam nihil delectus ipsam fugiat placeat voluptate? Ad, vitae sequi laborum accusantium placeat provident corrupti veniam soluta hic exercitationem, quam fugiat velit! Voluptatibus nobis ullam, nisi, perspiciatis non, fugiat nemo itaque omnis maxime hic a! Consequuntur quod officia repellat alias delectus necessitatibus natus eum nesciunt repudiandae tempora veniam laborum quis quibusdam, nobis saepe nulla minima reprehenderit! Nam iusto voluptate impedit. Consequuntur, ad!</p>
    </div>
</body>