<%- include('./partials/head.ejs') %>
<h1>YouTube Gaming Database</h1>
<form action="/login" method="get">
<button>Log in</button>
</form>
<form action="/signup" method="get">
    <button>Sign up</button>
</form>
<h2>Sign up to Join YGDb!</h2>
<form action="/signup" method="post">
    <input type="text" name="username" placeholder="Username">
    <br>
    <input type="password" name="password" placeholder="Create a password">
    <br>
    <button type="submit">Sign up</button>
</form>